<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/success.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
        <script
  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
        <title>GWOC | REGISTRATION</title>
    <meta name="description" content="GirlScript Winter of Contributing is a
    three-month programme run by the
    GirlScript Foundation during the winters
    with the purpose of empowering people to
    share their knowledge and ideas in order
    to improve technical abilities and gain
    valuable experience in the field of tech
    education. Throughout the programme,
    participants contribute to a variety of
    themes under the supervision of an
    expert facilitator">

    <!-- META -->
    <meta name="application-name" content="GirlScript Foundation India">
    <meta name="author" content="GirlScript Winter of Contributing">
    <meta name="msapplication-tooltip" content="GirlScript Winter of Contributing is a
    three-month programme run by the
    GirlScript Foundation during the winters
    with the purpose of empowering people to
    share their knowledge and ideas in order
    to improve technical abilities and gain
    valuable experience in the field of tech
    education.">
    <meta name="apple-mobile-web-app-title" content="GirlScript Winter of Contributing">
    <meta name="og:site_name" content="gwoc.tech" />
    <meta name="og:title" content="GirlScript Winter of Contributing" />
    <meta name="og:url" content="https://gwoc.girlscript.tech/" />

</head>

<body>
    <!-- Navbar -->
    <nav style="align-items: center;">
        <div class="logo">
            <a href="./">
                <img src="/assets/logo-new.png" alt="">
            </a>
        </div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <li><a class="nav-underline" href="./">HOME</a></li>
            <li><a class="nav-underline-about" href="#about">ABOUT</a></li>
            <li><a class="nav-underline-contact" href="#contact">CONTACT</a></li>
            <li><a class="nav-underline-team" href="/team">TEAM</a></li>
            <li><a class="nav-underline" href="/event">EVENT</a></li>
            <li><a class="register" href="#register"><button class="register-btn">REGISTER</button></a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                <a href="https://www.linkedin.com/company/girlscript-winter-of-contributing/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.instagram.com/girlscriptwinterofcontributing/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/girlscriptwoc" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </span>
        </ul>
    </nav>

   <section id="success-msg">
       <h3>CONGRATULATIONS <%=post%> <span id="name"><%=name%></span><span style="color:default">  🎉🎉</span></h3><br>
       <p>Thank you for registering for GirlScript Winter of Contributing. We are glad to have you onboard.</p>
       <p>Further details have been shared over your email. May you have a journey full of learning and contributing</p><br>
       <h4>HAPPY CONTRIBUTING!</h4><br>
    </section>
    
    <!-- Contact Section -->
    <div class="contact" id="contact">
        <div class="contact-heading-section">
            <div class="contact-heading">
                The <span style="color: #AB4806;"> World's Largest </span> Multilingual Content <br>
                Repository, <span style="color: #AB4806;"> Open </span> for Everyone.
            </div>
            <div class="social-media">
                <a href="https://www.linkedin.com/company/girlscript-winter-of-contributing/" target="_blank"
                    class="icon1">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.instagram.com/girlscriptwinterofcontributing/" target="_blank" class="icon2">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/girlscriptwoc" target="_blank" class="icon3">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
        <div class="contact-links">
            <img class="contact-logo" src="/assets/favicon.png" alt="">
            <ul class="quick-links">
                <h3>QUICK LINKS</h3>
                <a href="#faq">
                    <li>FAQ</li>
                </a>
                <a href="#register">
                    <li>Register</li>
                </a>
                <a href="/codeofconduct" target="_blank">
                    <li>Code Of Conduct</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="contact-copyright">
        <p>Copyright © 2021 GirlScript Winter of Contributing. All rights reserved.</p>
    </div>

    <!-- AOS Tag -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        AOS.init({
            once: false,

        });
    </script>
    <script src="/js/app.js"></script>

</body>

</html>